[Install]
WantedBy=multi-user.target

[Unit]
After=network.target
Description=pCloud Console Client systemd service

[Service]
Type=simple
User=pcloud
Group=pcloud
WorkingDirectory=/home/pcloud
ExecStart=/usr/local/bin/pcloudcc -u myemail@googlemail.com -m /mnt/pcloud

